@include("@Ecommerce/Views/templates/header")

<div class="container">
	<table class="table">
		<thead>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Nome da categoria</th>
			<th scope="col">Ordem da categoria</th>
			<th scope="col">Tipo da categoria</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
		<tbody>
			@in($categories->results)
		<tr>
			<th scope="row">{{$id}}</th>
			<td>{{ $name }}</td>
			<td>{{ $category_order }}</td>
			<td>
				
				{{ $type }}
				<div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
					<a href="{{ url("ecommerce/categories/{$id}/edit") }}" class="btn btn-outline-success">Editar</a>
					<button type="button" id="{{ $id }}" class="btn btn-outline-danger">Deletar</button>
				</div>
			</td>
		</tr>
		@endin
		</tbody>
	</table>

	{!$categories->links!}
</div>
	