@painel_header()

@grid('container p-2')
  <h4 class="text-black-50" ><i class="material-icons" style="position:relative;top:3px; left:-6px;">apps</i>#applications#</li></h4>
@endgrid


@grid('row container-fluid justify-content-center m-0 p-0 align-items-center')

<?php
$colors = array(
'yellow'=>'bg-warning',
'green'=>'bg-success',
'blue'=>'bg-info',
'red'=>'bg-danger',
'primary'=>'bg-primary',
'success'=>'bg-success',
'danger'=>'bg-danger',
'info'=>'bg-info',
'warning'=>'bg-warning',
'secondary'=>'bg-secondary',
'dark'=>'bg-dark'
);

foreach(get_info_modules() as $apps)
{
    extract($apps);

	$url = url($route);
	$description = text_more($description,90);
	
	$bg_color = array_key_exists($color,$colors) ? $colors[$color] : 'bg-secondary';
	
  $html = "<div class='apps col-6 col-md-2 mb-4'>
    <a href='{$url}' class='btn-none shadow-lg' data-bs-toggle='tooltip' data-bs-placement='bottom' title='{$description}'>
      <i class='material-icons text-black {$bg_color} bg-gradient text-white'>{$icon}</i>       
    </a>         
    <p>{$name}</p>            
  </div>";
  
  hello($html);
  
}


?>

@endgrid

@painel_footer()