<?php

$modules = get_info_modules();

$menu = array();
foreach($modules as $module)
{
  $name = $module['name'];
  $icon = $module['icon'];
  $route = $module['route'];
  $menu[] = "text=$name|link={$route}|icon={$icon}";
}


?>
@include('@Painel/Views/template/header',['sidebar'=>$menu])
<style>
  .feature-icon{width:50px;height:50px;border-radius:10px}
  .feature-icon > .material-icons{font-size:50px;color:#fff;}
  </style>

  <div class="container px-4 py-2" id="featured-3">
      <h2 class="pb-2 border-bottom">Aplicativos</h2>
      <div class="row g-4 py-2 row-cols-2 row-cols-lg-4">
    
@php

$colors = array(
'yellow'=>'bg-warning',
'green'=>'bg-success',
'blue'=>'bg-info',
'red'=>'bg-danger',
'primary'=>'bg-primary',
'success'=>'bg-success',
'danger'=>'bg-danger',
'info'=>'bg-info',
'warning'=>'bg-warning',
'secondary'=>'bg-secondary',
'dark'=>'bg-darkx'
);

   foreach($modules as $apps)
   {

    extract($apps);
	$url = url($route);
	$description = text_more($description,90);
	
	$bg_color = array_key_exists($color,$colors) ? $colors[$color] : 'bg-secondary';
	
  $html = "<div class='feature col'>
    <div class='feature-icon {$bg_color} bg-gradient'>
       <i class='material-icons'>{$icon}</i>
    </div>
    <h3>{$name}</h3>
    <p>{$description}</p>
    <a href='{$url}' class='icon-link'>Acessar aplicativo</a>
  </div></p>            
  </div>";
  
  hello($html);
  
  }

   @endphp
      </div>
    </div>




@painel_footer()