@import('@Painel/Views/template/components')

@include('@Painel/Views/template/header',[
  'title'=>'Olá meu',
  'color_top'=>'success',
  'sidebar'=>[
    'text=Teste 1|icon=menu|link=teste',
    'text=Teste 2|icon=home',
    'text=Submenu|icon=settings'=>['text=Criar','text=Listar'],
    'text=Submenu2|icon=home'=>['text=Criar2','text=Listar2']
    ]
])

@component('p_header_form',['url'=>'teste','method'=>'get'])
  <div class="p-3 np-scroll">

   @component('p_select2',[
   'url'=>'teste',
   'method'=>'get'
   ])


<div class="row">
<div class="col-4">
  @component('p_input',['value'=>'Meu teste'])
</div>
<div class="col-4">
  @component('p_input',['type'=>'color','value'=>'#45EE3B'])
</div>
<div class="col-4">
  @component('p_input')
</div>

<div class="col-4">
  @component('p_select',[
  'name'=>'xxx',
  'value'=>'3',
  'select'=>[1=>'Olá',2=>'Eu',3=>'Você']
  ])
</div>
</div>
</div>

@include('@Painel/Views/footer')